<div class="background">
    <div class="body">

        <h2>{{title}}</h2>

        <form action (ngSubmit)="NewBlog()" ngNativeValidate>
            <div class="inputs">
                <tr>
                    <td>AutherName</td> 
                    <td><input type="text" name="BlogAuth" [(ngModel)]= 'BlogDataitem.BlogAuth' required></td>
                </tr>
                <tr>
                    <td>ImageUrl</td> 
                    <td><input type="text" name="BlogImg" [(ngModel)]= 'BlogDataitem.BlogImg' required></td>
                </tr>
                <tr>
                    <td>Blog-Title</td> 
                    <td><input type="text" name="BlogHead" [(ngModel)]= 'BlogDataitem.BlogHead' required></td>
                </tr>
                <tr id="B-desc">
                    <td>Blog-Description</td> 
                    <td><input type="text" name="BlogDesc" [(ngModel)]= 'BlogDataitem.BlogDesc'required></td>
                </tr>
                <tr id="B-cont">
                    <td>Blog-Content</td> 
                    <td><input type="text" required name="BlogCont" [(ngModel)]= 'BlogDataitem.BlogCont' ></td>
                </tr>
            </div>
            <i class="fa-solid fa-bars-sort"></i>
            <button routerLink="/" type="button">Cancel</button>
            <button type="submit">Submit</button>
        </form>






       

    
    </div>
</div>