a{
    /* text-align: center; */
    /* color: aqua; */
    /* align-items: center; */
    margin-right: 15px;
}

div{
    text-align: center;
    background-color: rgba(243, 242, 242, 0.836);
    box-shadow: 6px 1.5px 8px #c2c2c288;

   
}

h2{
    text-align: left;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
}

